<?xml version="1.0" encoding="utf-8"?>
<packages>
   
   <!-- Choco --> 
   <package id="chocolateygui" />

   <!-- Dev --> 
   <package id="powershell-core" />
   <package id="clink" />
   <package id="grep" />
   <package id="conemu" />
   <package id="microsoft-windows-terminal" />
   <package id="powertoys" />
   <package id="gcloudsdk" />
   <package id="azure-cli" />
   <package id="awscli" />
   <package id="serverless" />
   <package id="pulumi" />
   <package id="git" />
   <package id="tortoisegit" />
   <package id="sourcetree" />
   <package id="sublimemerge" />
   <package id="github-desktop" />
   <package id="openssh" />
   <package id="putty" />
   <package id="winscp" />
   <package id="sqlite" />
   <package id="heidisql" />
   <package id="docker-desktop" />
   <package id="kubernetes-cli" />
   <package id="kubernetes-helm" />
   <package id="jenkins-x" />
   <package id="vagrant" />
   <package id="terraform" />
   <package id="jdk8" />
   <package id="jdk11" />
   <package id="sbt" />
   <package id="gradle" />
   <package id="lein" />
   <package id="dotnetcore-sdk" />
   <package id="nodejs" />
   <package id="deno" />
   <package id="yarn" />
   <package id="python2" />
   <package id="python3" />
   <package id="anaconda3" />
   <package id="ruby" />
   <package id="php" />
   <package id="composer" />
   <package id="golang" />
   <package id="rust" />
   <package id="elm-platform" />
   <package id="haskell-stack" />
   <package id="elixir" />
   <package id="vscode" />
   <package id="sublimetext3" />
   <package id="hxd" />
   <package id="dngrep" />
   <package id="winmerge" />
   <package id="postman" />
   <package id="altair-graphql" />
   <package id="fiddler" />
   <package id="curl" />
   <package id="nmap" />
   <package id="wireshark" />
   <package id="ghidra" />
   <package id="exercism-io-cli" />

   <!-- Apps --> 
   <package id="googlechrome" />
   <package id="adobereader" />
   <package id="7zip" />
   <package id="slack" />
   <package id="skype" />
   <package id="whatsapp" />
   <package id="dropbox" />
   <package id="google-backup-and-sync" />
   <package id="sharex" />
   <package id="sysinternals" />
   <package id="windirstat" />
   <package id="sandboxie" />
   <package id="lockhunter" />
   <package id="inkscape" />
   <package id="paint.net" />
   <package id="gimp" />
   <package id="pdfsam" />
   <package id="vlc" />
   <package id="mp3tag" />
   <package id="mp3gain" />
   <package id="google-play-music-manager" />
   <package id="office365proplus" />
   <package id="calibre" />
   <package id="youtube-dl" />
   <package id="ffmpeg" />
   <package id="tor-browser" />
   <package id="steam" />
   <package id="origin" />
   <package id="discord" />
   <package id="hexchat" />

</packages>