<?xml version="1.0" encoding="utf-8"?>
<packages>
   
   <!-- Choco --> 
   <package id="chocolateygui" />

   <!-- Dev --> 
   <package id="powershell-core" />
   <package id="clink" />
   <package id="conemu" />
   <package id="gcloudsdk" />
   <package id="azure-cli" />
   <package id="awscli" />
   <package id="git" />
   <package id="tortoisegit" />
   <package id="sourcetree" />
   <package id="github" />
   <package id="openssh" />
   <package id="putty" />
   <package id="winscp" />
   <package id="heidisql" />
   <package id="docker-for-windows" />
   <package id="kubernetes-cli" />
   <package id="kubernetes-helm" />
   <package id="jenkins-x" />
   <package id="vagrant" />
   <package id="jdk8" />
   <package id="jdk11" />
   <package id="dotnetcore-sdk" />
   <package id="nodejs" />
   <package id="python2" />
   <package id="python3" />
   <package id="vscode" />
   <package id="sublimetext3" />

   <!-- Apps --> 
   <package id="googlechrome" />
   <package id="adobereader" />
   <package id="7zip" />
   <package id="steam" />
   <package id="discord" />
   <package id="skype" />
   <package id="whatsapp" />
   <package id="dropbox" />
   <package id="google-backup-and-sync" />
   <package id="greenshot" />
   <package id="licecap" />
   <package id="f.lux" />
   <package id="sysinternals" />
   <package id="windirstat" />
   <package id="sandboxie" />
   <package id="inkscape" />
   <package id="paint.net" />
   <package id="gimp" />
   <package id="vlc" />
   <package id="google-play-music-manager" />
   <package id="office365proplus" />

</packages>